@import url('https://fonts.googleapis.com/css?family=Arima+Madurai&display=swap');

$main-color: #a1dbe7;
$secondary-color: #000000;
$border-radius: 35px;


html,body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-color: $main-color;
    font-family: 'Arima Madurai', cursive;

    .container {
        width: 80%;
        height: 80%;
        border: 5px solid $secondary-color;
        margin: 90px auto 0 auto;
        border-radius: $border-radius;
        background-color: white;
        display: flex;
    }
}

article {
    flex: 3;
    border-right: 3px solid $secondary-color;
    height: 80%;
    margin: auto;
    padding: 0rem 2rem;
    line-height: 1.3;

    h1 {
        text-align: center;
        font-size: 2.1rem;
    }

    section {
        p {
            font-size: 1.5em;
        }

        img {
            width: 50%;
            display: block;
            margin: 2rem auto;
            border-radius: $border-radius;
        }
    }
}

main {
    flex: 5;
    height: 80%;
    margin: auto;

    h1 {
        font-size: 2.1rem;
        margin-bottom: 0;
        text-align: center;
    }

    span {
        text-align: center;
        margin-left: 2rem;
        font-size: 1.2rem;
        font-weight: lighter;
    }

    p {
        font-size: 1.5rem;
        text-align: center;
    }

    section.izbor {
        display: flex;
        justify-content: space-evenly;
        margin-top: 2rem;

        .btn {
            font-size: 1.7rem;
            border-radius: 50%;
            padding: 2.5rem;
            background-color: $main-color;
            box-shadow: 0px 0px 8px 3px $secondary-color;
        }

        .btn:hover {
            background-color: darken($main-color,30%);
        }
    }

    section.izborRačunala {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;

        p {
            font-size: 1.5rem;
        }

        #outputRačunalo {
            font-size: 1.7rem;
            border-radius: 50%;
            padding: 2rem;
            background-color: $main-color;
            box-shadow: 0px 0px 8px 3px $secondary-color;
            margin: 0px 0px 0px 2rem;
        }
    }

    section.rezultat {
        div#objašnjenjeRezultata {
            height: 80px;
        }
    }

    section.score {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.7rem;

        table td{
            border: 1px solid $secondary-color;
        }

        button.resetGumb {
            background-color: white;
            color: red;
            border: 1px solid $secondary-color;
            font-family: 'Arima Madurai', cursive;
            font-size: 1.7rem;
        }

        button.resetGumb:hover {
            background-color: red;
            color: white;
            border: 1px solid red;
        }

    }

    
}